%h1 Major League Statistics 1998

%table{id: "stats"}
  %thead
    %tr
      %th GIVEN NAME
      %th SURNAME
      %th AVG
      %th HR
      %th SB
      %th RBI
      %th RUNS
      %th OPS
  %tbody
    %tr
      %td
      %td
      %td
      %td
      %td
      %td
      %td
      %td
